<nav class="navbar navbar-expand">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BreakingBad</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['home']">Personajes</a>
            </li>
            <li>
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['episodes']">Episodios</a>
            </li>
            <li>
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['quotes']">Frases</a>
            </li>
        </ul>
    </div>
</nav>